<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Font Awasome -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    <title>File Uploader</title>

  </head>
  <body>


<div class="container">
 <p>
<center><h4>FILE UPLOADER</h4></center>
    <div class="alert alert-dark" role="alert">
 <center><hr3>Single File</hr3></center>
<form action="/upload" method="POST" enctype="multipart/form-data">
<div class="input-group">
    
        <%= typeof msg != 'undefined' ? msg : '' %>
  <input type="file" class="form-control" name="recfile" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
  <button class="btn btn-outline-secondary" type="submit" value="submit" id="inputGroupFileAddon04">Submit</button>

</div>
</form>
</div>
<div class="alert alert-dark" role="alert">
 <center><hr3>Multiple File</hr3></center>
<form action="/upload2" method="POST" enctype="multipart/form-data">
<div class="input-group">
    
        <%= typeof msg2 != 'undefined' ? msg2 : '' %>
  <input type="file" class="form-control" name="recfiles" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
  <button class="btn btn-outline-secondary" type="submit" value="submit" id="inputGroupFileAddon04">Submit</button>

</div>
</form>
</div>

<center><button type="button" href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
SOURCE CODE
</button></center>





</div>
<footer class="footer fixed-bottom">
                <div class="copyright text-center my-auto">
                    Made with <i class="fa fa-heart"></i> by
                    <a class="font-monospace" href="https://github.com/yogipw" target="_blank" rel="nofollow">YogiPw</a>
                    </span>
                </div>
            </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
