<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>File Uploader</title>
</head>

<body>

  <div class="alert alert-secondary" role="alert">

    <p class="text-dark">
      Single upload
    </p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <%= typeof msg != 'undefined' ? msg : '' %>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" name="recfile">
      <label class="custom-file-label" for="customFile"></label>
    </div>
    <input class="btn btn-dark" type="submit" value="Submit">
  </div>
  </form>
<script>
document.querySelector('.custom-file-input').addEventListener('change', function (e) {
      var name = document.getElementById("customFile").files[0].name;
      var nextSibling = e.target.nextElementSibling
      nextSibling.innerText = name
    })
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>

</html>
